/*添加链接框样式*/

#add_link {
    padding: 4%;
    display: none;
    position: fixed;
    background-color: #cccccc;
    margin-left: 20%;
    /*z-index: 3;*/
    box-shadow: 5px 8px 5px 5px #cccccc;
    z-index: 11;
}

#link_code {
    display: flex;
    /*justify-content: center;*/
}

.title {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.title strong {
    margin-left: 5px;
    font-size: larger;
    overflow: hidden; /*超出部分隐藏*/
    white-space: nowrap; /*不换行*/
    text-overflow: ellipsis;
}

.title img {
    width: 30px;
    height: 30px;
}

.opt_buts {
    display: flex;
    justify-content: center;
}

.detail {
    display: flex;
    justify-content: center;
}

#link_title {
    position: absolute;
    left: 40%;
    margin-top: -2.5%;
    /*top:10%;*/
    width: 20%;
}

#link_title small {
    margin-left: 20%;
}